<ion-header>

  <ion-navbar>
    <ion-title>{{puzzle.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>

    <div class="question">
      {{puzzle.question}}
    </div>

    <!-- Answer Section -->
    <ion-buttons>
      <div class="answer-container"
           *ngFor="let answer of puzzle.answers"
           [class.correctAnswer]="isCorrectAnswer(answer.key)"
           [class.incorrectAnswer]="!isCorrectAnswer(answer.key)"
      >
        <div class="answer">
          <span class="answerCount">
            {{answerSummary.answerMap[answer.key]}}
          </span>
          <span class="answerText">
            {{answer.answer}}
          </span>
        </div>
      </div>
    </ion-buttons>

  </ion-grid>

  <!-- Todo: PLAY-50 -->
  <div *ngIf="isGuide()">
    <ion-fab left bottom>
      <button ion-fab mini (tap)="signalPuzzleSolved()">
        <ion-icon name="thumbs-up"></ion-icon>
      </button>
    </ion-fab>
  </div>


</ion-content>
