page-answer {
}

.answer {
  height: 75px;
  margin: 10px;
  font-size: large;
}

.answerCount {
  font-size: xx-large;
}

.correctAnswer {
  background-color: greenyellow;
}

.incorrectAnswer {
  background-color: lightpink;
}
