page-answer {
}

.answer {
  margin: 7px;
}

.answer-container {
  height: 75px;
  font-size: large;
  margin: 8px;
}

.answerCount {
  font-size: xx-large;
}

.correctAnswer {
  background-color: greenyellow;
}

.incorrectAnswer {
  background-color: lightpink;
}
